body {
    background-color: #50c878 ;
}
#quixBox {
    display: flex;
}
#start {
    margin:15% 45%;
    white-space: nowrap;
}
.questionBox {
    margin: 5% 10%;
    background-color: #444;
}
.submit {
    margin:2% 10%;
    white-space: nowrap;

}
#postGame {
    margin: 20% 45%;
    font-family: 'Beau Rivage', cursive;
    font-size: 100px;
    color: aliceblue;
}